@import 'mixins';

html, body {
  height: 100%;
  overflow: auto;
  background: url('../img/bg-texture.png') repeat #423c3c;
}

body { 
  color: #e3e6db;
  font-family: 'HelveticaNeue', helvetica, arial, sans-serif;
}

p {
  font-size: 23px;
  line-height: 30px;
  margin: -12px 0 0 0;
  color: #ddd;
}


h1 {
  font-family: 'HelveticaNeue', helvetica, arial, sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  letter-spacing: -2px;
  margin: 0;
  color: #423c3c;
  padding-top: 10%;
}


.container-one {
  background: #eeeee4;
  text-align: left;
  padding: 0 10% 2% 10%;
}

.container-two {
  text-align: left;
  margin: 3% auto;
  padding: 0 10% 0 10%;
}



@media (min-width: 400px) and (max-width: 800px) {
  h1 {
    font-size: 47px;
    line-height: 50px;
  }
  p {
    font-size: 18px;
    line-height: 26px;
  }
}

a {
  color: #1883a7;
  text-decoration: none;
  -o-transition:color .2s ease-out, background 2s ease-in;
  -ms-transition:color .2s ease-out, background 2s ease-in;
  -moz-transition:color .2s ease-out, background 2s ease-in;
  -webkit-transition:color .2s ease-out, background 2s ease-in;
  transition:color .2s ease-out, background 2s ease-in;
  &:hover { 
    color: orange;
  }
}


