@import 'mixins';
@import url("http://fonts.googleapis.com/css?family=Lato&.css");

html, body {
  height: 98%;
  overflow: auto;
  background: url('../img/bg-texture.png') repeat 0 0 #e3e6db;
  // background-size: 100%;
  border-bottom: 30px solid #423c3c;
}

body { 
  color: #e3e6db;
  font-family: 'Lato', 'HelveticaNeue', helvetica, arial, sans-serif;
}

p {
  font-size: 23px;
  font-weight: 300;
  line-height: 30px;
  margin: -12px 0 0 0;
  color: #423c3c;
}


h1 {
  font-family: 'Lato', 'HelveticaNeue', helvetica, arial, sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  letter-spacing: -2px;
  margin: 0;
  color: #423c3c;
  padding-top: 10%;
}


.container-one {
  background-size: 100%;
  // background: #eeeee4;
  text-align: left;
  padding: 0 10% 2% 10%;
  height: 80%;
  float: left;
  display: block;
}

.container-two {
  float: left;
  text-align: left;
  margin: 3% auto;
  padding: 2% 10%;
  height: 20%;
  background: rgba(255,255,255,0.4);
}



@media (min-width: 400px) and (max-width: 600px) {
  h1 {
    font-size: 35px;
    line-height: 40px;
  }
  p {
    font-size: 18px;
    line-height: 26px;
  }
  .container-two {
    padding: 8%;
  }
  .container-one {
    padding: 2% 8%;
  }
}

a {
  color: #1883a7;
  text-decoration: none;
  -o-transition:color .2s ease-out, background 2s ease-in;
  -ms-transition:color .2s ease-out, background 2s ease-in;
  -moz-transition:color .2s ease-out, background 2s ease-in;
  -webkit-transition:color .2s ease-out, background 2s ease-in;
  transition:color .2s ease-out, background 2s ease-in;
  &:hover { 
    color: orange;
  }
}


