---
title: Niels Toft
---

<!-- Add your site or application content here -->

    
.container-one
  %h1
    %a{:href => "http://be.net/toft", :target => "_blank"} Web designer
    \&amp;
    %a{:href => "https://github.com/ntoft", :target => "_blank"} Front-end Developer
    %a{:href => "https://twitter.com/nitoft", :target => "_blank"}living 
    and
    %a{:href => "http://technekes.com", :target => "_blank"} working
    in Charlotte, NC.
.container-two
  %p
    My work is all about organizing and furthering a message, while creating an aesthetically pleasing product. Great aesthetics are always a thrill, but I believe they must never hinder or obstruct the message. Whether it's building brand pieces for web or for print, I enjoy facilitating content.

